# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @disassembler

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Mateusz     Kevin          Carlos             Sam
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @carbolymer @kevinhammmond @CarlosLopezDeLara @disassembler

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

*.nix                                                         @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/core-tech-release

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @olgahryniuk @disassembler @CarlosLopezDeLara

.github                                                       @Jimbo4350 @newhoggy @carbolymer @input-output-hk/core-tech-release
